{{define "main"}}
<section>
    <h1 class="text-center">{{.Title}}</h1>
        {{if eq .Kind "taxonomyTerm"}}
            {{range $key, $value := .Data.Terms.Alphabetical}}
            <a href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'>{{ $value.Name }} ({{.Count }})</a>
            {{end}}
        {{else}}
        {{range .Pages}}
            <h6><a href="{{.Permalink}}">{{ .Title }}</a></h6>
            {{if eq .Section "logs"}}
            <small class="date">{{.PublishDate.Format "January 2, 2006"}} | {{.ReadingTime}} minute read</small>
            {{end}}
        {{end}}
    {{end }}
</section>
{{if .Site.Params.search.enabled}}
    {{partial "search.html" .}}
{{end}}
{{end}}
