{{define "main"}}
{{ if eq .Section "logs"}}
	<section>
	  <h1>{{.Title}}</h1>
	  <span class="date">Posted on {{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute read</span>
	  <div>
		  {{ .Content }}
	  </div>
	  <a title='Share via email' href='mailto:?subject={{.Title}}&body={{.Permalink}}'>Share via Email</a>
	  <br>
	  <div class="text-monospace text-light mt-2">
		<br />
		{{- range .Params.tags -}}
			<span class='badge badge-dark'><a class='text-white' href='{{ "tags/" | absURL }}{{ . | lower }}'>#{{ . }}</a></span>
		{{ end }}
	  </div>
	  <br>
	    {{ if .Site.Params.disqus }}
	      {{ template "_internal/disqus.html" . }}
	    {{end}}
	</section>
{{else}}
	<section>
	  <h1 class="text-center mb-4">{{.Title}}</h1>
	    <div class="">
			{{ .Content }}
		</div>
	</section>
{{end}}
{{ if .Site.Params.search.enabled}}
    {{partial "search.html" .}}
{{end}}
{{end}}
