<head>
	<meta charset="utf-8">
	{{if .IsHome}}
		<meta name="description" content='{{ .Site.Params.metadesc }}'>
		<meta name="keywords" content='{{ .Site.Params.metakeys }}'>
	{{else}}
		{{if eq .Section "logs"}}
			<meta name="description" content='{{ .Title }}'>
			<meta name="keywords" content='{{delimit .Keywords ", " }}'>
		{{end}}
	<!-- {{range .Params.tags}}{{.}}{{", "}}{{end}} -->
	{{end}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ hugo.Generator }}
<!-- <link rel="stylesheet" type="text/css" href='{{ "css/bootstrap.min.css" | absURL }}'> -->
 {{- partial "style.html" . -}}
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
</head>
