<section class="hero">
    {{if .Site.Params.hero.enabled }}
    <img class="rounded-circle" src='{{ .Site.Params.hero.img | absURL }}' title="Icon by freepik <www.flaticon.com>" width="200px"/>
    {{end}}
		<h1 class="title"> {{ .Site.Title }} </h1>
		<span class='subtitle'>{{ .Site.Params.about }}</span>
    <br /><br>
    <nav class='nav'>
        <a href='{{ .Site.BaseURL }}'>Home</a> /
        <a href='{{ "about" | absURL }}'>About</a> /
        <a href='{{ "logs" | absURL }}'>All Logs</a> /
        <a href='{{ "tags" | absURL }}'>Tags</a> /
        <a href="{{ .Site.Params.gitlab }}">Gitlab</a> /
        <a href="mailto:{{ .Site.Params.email }}">Email</a> /
        <a href='{{"SaiKarthik.asc" | absURL }}'>GPG Key</a> /
        <a href='{{ "logs/index.xml" | absURL }}'>RSS Feed</a>
    </nav>
</section>
