<nav class="nav justify-content-center sticky-top mt-2 mb-5">
    <a href='{{ .Site.BaseURL }}'><span class="m-1 btn btn-outline-primary">Home</span></a>
    <a href='{{ "about" | absURL }}'><span class="m-1 btn btn-outline-primary">About</span></a>
    <a href='{{ "logs" | absURL }}'><span class="m-1 btn btn-outline-primary">Logs</span></a>
    <a href='{{ "tags" | absURL }}'><span class="m-1 btn btn-outline-primary">Tags</span></a>
</nav>
