{{define "main"}}
<section class="recent-logs">
    {{ if .Site.Params.search.enabled }}
        {{partial "search.html" .}}
    {{end}}
    {{ range first 5 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
					<div>
					  <a href="{{.Permalink}}">
					  <h2>{{.Title}}</h2>
            </a>
					  <span class="date">{{ .PublishDate.Format "January 2, 2006" }}</span>
					  <p class="card-text text-monospace text-light">{{.Summary}}</p>
					</div>
			{{end}}
</section>
<!-- <section class="container text-center mt-2">
	   <a href='https://stallman.org/facebook.html' target="_blank">
		 <img  class="img-responsive" src='{{ "img/no-facebook.png" | absURL }}' width="200px" alt="I'm Not On Faceboook">
	   </a>
     </section> -->
{{end}}
